body {
	padding: 0;
	margin: 0;
	font-family: Helvetica, Arial, sans-serif, serif;
	font-size: 12px;
}

.container {
	width: 80%;
	margin: 20px auto;
	background-color: #efefef;
}

header {
	width: 100%;

	padding: 20px 0;
	text-align: center;
}

.sidebar {
	width: 10%;
	float: left;
	border-right: 1px solid #907;
}

ul {
	list-style: none;
}

ul li {
	padding-bottom: 10px;
	text-decoration: none;
}
.content {
	float: right;
	width: 85%;
	padding-left: 10px;
	
}

footer {
	background-color: #809;
	color: #fff;
	text-align: center;
	clear: both;
	padding: 20px 0;

}