body {
	background-color: #eeeeee;
	font-family: Helvetica, serif;

}

.container {
	background-color: white;
	width: 800px;
	margin: 0 auto; 
}

header {
	background-color: #66ccff;
	color: white;
	text-align: center;
}
a {
	text-decoration: none;
}

#nav ul {
	list-style: none;
}

.content {
	padding: 10px; 
}

nav {
	width: 180px;
	float: left;
}

.active {
	font-weight: 
}

.main {
	width: 600px;
	float: right;
}

footer {
	clear: both;
	padding: 10px;
	background-color: #999999;
	color: white;
	text-align: center;
}